body {
    font-family: 'Poppins', sans-serif;
}


/* Card Styling on Profile Page */
.card {
    border-radius: 10px;
}

.card-body {
    padding: 2rem;
}

.btn-primary {
    background-color: #007bff;
    border: none;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #0056b3;
}
